- APOD + one other API from NASA
- React router to create at least homepage and one additional page
- APOD can be on homepage and other api on addl page

You are to follow along with the tutorial on the React lectures and complete an application for the lectures.
You can either use the XKCD comic or the NASA api to create a web app that loads and displays the information for the APIs. 
The information being displayed, title, image, description, date, etc, should be properly formatted and use bootstrap to display it.
The images can come of any size so make sure to try a few different sizes and make sure your 
container will look good with any of the sizes listed. 
The other thing is we will be deploying these sites.
Look at the tutorial for deploying the application so that the website is live.
You will also create some Jest and Cypress test cases for you application
aim to test 80% or more of application

Web app compiles and runs. Code looks neat and is orderly   50%
Bootstrap was used for the app 	10%
Web app contains Jest Testing 	15%
Web app contains Cypress Testing 	15%
Web app is deployed 	10%